{% extends 'otree/WaitPage.html' %}
{% load otree %}
{% block title %}{{ title_text }}{% endblock %}
{% block content %}
    <p>
        You are now in line to be assigned to a group for the rest of the experiment. <br>
        In order to stay in line, you'll need to prevent the orange bar from ending by clicking on the mouse/keyboard.<br>
        Once there would be enough active players available you'll move to the rest of the experiment.<br>
        <br>
        If you'll let the orange bar end you'll be removed from the line. <br>
        You'll be able to rejoin the line by restarting the orange bar (by clicking on the mouse/keyboard).<br>
        <br>
        If you'll not be assigned to a group soon you'll be passed to the end page and you'll get payment/bonus according to you activeness while waiting.

    </p>
<!--    {{ body_text }}-->
    <div class="alert">
        <h4>Please move your mouse or click any button to remain active!</h4>
    </div>
    <div class="alert alert-warning">
        <h5>Your current status: <span class="status">passive</span></h5>
    </div>
    <div class="progress" style="height: 50px;">
        <div class="progress-bar bg-warning progress-bar-animated to_passive"
             aria-valuemax="{{ Constants.seconds_to_passive }}" role="progressbar" aria-valuenow="0" style="width:0%">

            <h5 class="mx-3  status-wrapper justify-content-left  d-flex align-items-center">Seconds to change of status:&nbsp <span
                    class="timer"></span>
            </h5>
        </div>
    </div>
    {% include 'includes/wp_timer.html' %}
{% endblock %}
{% block styles %}
    <style>
        .status-wrapper {
            float: left;
            white-space: nowrap;
        }
    </style>

{% endblock %}