<script>
$(function () {
    $status_span = $('span.status');
    $timer_span = $('span.timer');
    var seconds_to_passive = {{ Constants.seconds_to_passive }};
    var passive_allowed_time = {{ Constants.passive_allowed_time }};
    $timer_span.html(seconds_to_passive);
    var is_player_active = "{{ player.set_status }}";
    if(is_player_active === "True"){
        var seconds_from_last_activity = 0;
        set_active_session()
    }
    else{
        var passive_time = 0;
        set_passive_session()
    }

    function set_active_session() {

        $status_span.html("active");
        resetActiveStatus();
        // Increment the idle time counter every second.
        setInterval(activeTimerIncrement, 1000); // 1 second
        // Zero the idle timer on mouse movement.
        $(this).on('keypress', resetActiveStatus);
        $(this).on('mousemove', resetActiveStatus);
    }
    function set_passive_session() {
        $status_span.html("passive");
        set_timer_bar(0);
        setInterval(passiveTimerIncrement, 1000); // 1 second
        $(this).one('keypress', reload);
        $(this).one('mousemove', reload);
    }
    function reload() {
        window.location.reload();
    }
    function resetActiveStatus() {
        seconds_from_last_activity = 0;
        set_timer_bar(seconds_to_passive)
    }
    function activeTimerIncrement() {
        seconds_from_last_activity = seconds_from_last_activity + 1;
        let time_left = Math.max(0,seconds_to_passive - seconds_from_last_activity);
        set_timer_bar(time_left);
        if (time_left === 0) {
            reload();
        }
    }
    function passiveTimerIncrement() {
        passive_time = passive_time +1;
        // if(passive_time > passive_allowed_time){
        //     confirm("You've been passive for a too long!");
        //     reload()
        // }
    }
    function set_timer_bar(time_left) {
        $('.to_passive').css('width', time_left / seconds_to_passive * 100 + '%').attr('aria-valuenow', time_left);
        $timer_span.html(time_left);
    }
});
</script>