{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Welcome!
{% endblock %}

{% block content %}

    <p>
    You are about to start a short multi-person game.
<!--    The experiment is expected to take you 3 minutes or less.-->
    For participating in this game you will receive {{basic_payment}}. <br>
    In addition, you also have a chance to earn a {{low_pay}} or {{high_pay}} bonus payoff
    depending on your choice and the choices of other participants.
    </p>

    <p>
    If you do not intend to <u> promptly</u> start the experiment, please close the experiment browser <b> now</b>.
    <br> It will <b> not </b> harm your reputation in anyway.

<!--    <br>    <font color="red"> IMPORTANT: If you do not start the experiment within the next 5 minutes, you will not get paid anything.</font>-->
    </p>
    <p>
    If you choose to start the experiment now, please click "Next" to proceed.
    </p>

    {% next_button %}

{% endblock %}

