{% extends "global/Page.html" %}
{% load otree staticfiles %}


{% block title %}
    Understanding Questions:
    <br />
    <br />
{% endblock %}

{% block content %}
<p>
    To make sure you understand the payoff structure, please answer the following questions:
</p>
<p>

    1. If you choose <u>TAILS</u>, and <b>{{q1_tail_num}}</b> more participants choose TAILS,
    <br/> what will be your final bonus payoff in cents?

    {% formfield player.q1_answer label="Please choose:" %}

    2. If you choose <u>TAILS</u>, and <b>{{q2_tail_num}}</b> more participants choose TAILS,
    <br/> what will be your final bonus payoff in cents?

    {% formfield player.q2_answer label="Please choose:" %}

    Please click "Next" to proceed <br />

    {% next_button %}
</p>

{% endblock %}