{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<style>
    .otree-body {
        max-width:800px
    }
</style>
{% endblock %}

{% block title %}
    Instructions:
{% endblock %}

{% block content %}

    <p>

        <br /> You are about to participate in a single coin matching game.
        <br /> There will be <b> {{group_size_without_current}} additional </b> participants playing this game with you.
        <br/> That is, you will be one of <b> {{group_size}} players</b>, all playing the same game.
        <br /> You have to choose between <u>HEADS</u> and <u>TAILS</u>:

        <br /> If you choose <u>HEADS</u>, your bonus payoff will be ${{Constants.low_pay}}
        (regardless of the choices made by other players).
        <br /> If you choose <u>TAILS</u>, your bonus payoff will depend on the choice of other participants:
        <br /> -If <b> <u> at least {{at_least_tails_to_get_bonus}} additional participants</b></u> choose TAILS, your bonus payoff
        will be ${{Constants.high_pay}},
        <br /> -Otherwise (if no more than {{not_enough_tails_to_get_bonus}} additional participants choose TAILS)
        you will not get any bonus payoff.

<p>
<b>To summarize:</b>
        <br/>Bonus payment if you choose <u>HEADS</u>: ${{Constants.low_pay}}
        <br/>Bonus payment if you choose <u>TAILS</u> (depends on other players):
        <li> ${{Constants.high_pay}} if <b><u> at least {{at_least_tails_to_get_bonus}} of
        the other {{group_size_without_current}}</u> </b> people in the game choose TAILS.</li>
        {% if not_enough_tails_to_get_bonus > 0 %}
        <li>  <b> Nothing </b> otherwise (i.e. if no more than {{not_enough_tails_to_get_bonus}} other people also choose TAILS).</li>
        {% else %}
            <li>  <b> Nothing </b> otherwise (i.e. if no one else choose TAILS).</li>
        {% endif %}

    </p>
    <p>

        <br/>  Please press "Next" if you are ready to proceed.


        {% next_button %}
    </p>

{% endblock %}


