{% extends "global/Page.html" %}
{% load otree staticfiles %}


{% block title %}
    Feedback:
    <br />
    <br />
{% endblock %}

{% block content %}

<p>
    <b> QUESTION 1:</b>
    <br/> "If you choose <u>TAILS</u>, and <b>{{q1_tail_num}}</b> more participants choose TAILS,
    <br/> what will be your final bonus payoff in cents?"

    <br/> You answered: "{{player_answer1}}".
    <br/> This was

    {% if is_player_correct1 %}
    the <font color="green"> correct answer! </font>

    {% else %}
    <font color="red"> incorrect answer!  </font>
    <br/> The right answer was: "{{right_pay1}}".
    {% endif %}

    <p> <b> QUESTION 2:</b>
    <br/> "If you choose <u>TAILS</u>, and <b>{{q2_tail_num}}</b> more participants choose TAILS,
    <br/> what will be your final bonus payoff in cents?"

    <br/> You answered: "{{player_answer2}}".
    <br/> This was

    {% if is_player_correct2 %}
    the <font color="green"> correct answer! </font>

    {% else %}
    <font color="red"> incorrect answer! </font>
    <br/> The right answer was: "{{right_pay2}}".
    {% endif %}

    <p>
    <br/> Now you will make your actual choice.
    <br />Please click "Next" to proceed:
<br />
    {% next_button %}
</p>

{% endblock %}