{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}

    Thanks for taking part in this experiment.

{% endblock %}


{% block content %}

    <p>
        The paying round was {{ paying_round }}.
        <br> In round {{ paying_round }}, you choose "{{ paying_decision }}".
        <br> The total number of TAILS in this round was {{ number_entrants }}.
        <br> Thus, your payoff in that round was: {{finalpay}}.
        <!-- <br> Your final payoff is: {{ finalpay }}. -->

    </p>


Please click "Next" to complete the experiment:
{% next_button %}

{% endblock %}



